// Body
$body-bg: #f8fafc;

// Typography
$font-family-primary: "Open Sans", sans-serif;
$font-family-secondary: "Inter", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color-primary: #f4c227;
$color-success: #90DC90;
$color-danger: #fb757b;
$color-text: #222222;
$color-background: #E9EAEE;
